# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv_llm/

# uv
.uv-cache/
uv.lock

# Build artifacts
build/
dist/
*.egg-info/

# Notebooks
.ipynb_checkpoints

# Data (IMPORTANT!)
data/*
data*/*
!data/README.md
!data/.gitkeep
output*/*
logs/*

# IDEs
.idea/
.vscode/

.repo_secret

geckodriver-v0.33.0-linux64.tar.gz

third_party/agentk/data/raw_local_tasks

run_log_*.txt

.venv/
venv/
__pycache__/
*.pyc
third_party/agentk/ib/
third_party/agentk/bin/

catboost_info/

venv/
.venv/
bin/
lib/
include/
site-packages/

llm/*
metrics.json
third_party/agentk/outputs/
log/
third_party/mle_star/machine_learning_engineering/tasks/
third_party/ml_zero/run_pipeline.sh
third_party/ml_zero/*.slurm
third_party/ml_zero/src/autogluon/assistant/tools_registry/indices/*
logs
aide_logs/
job.slurm
llm_requirements.txt
